In [7]:
import numpy as np
import pandas as pd

In [8]:
 In [3]: s = pd.Series([1, 3, 5, np.nan, 6, 8])

In [6]:
s

0    1.0
1    3.0
2    5.0
3    NaN
4    6.0
5    8.0
dtype: float64

In [12]:
type(s)

pandas.core.series.Series

In [16]:
dates = pd.date_range('20250101', periods=6)

In [17]:
dates

DatetimeIndex(['2025-01-01', '2025-01-02', '2025-01-03', '2025-01-04',
               '2025-01-05', '2025-01-06'],
              dtype='datetime64[ns]', freq='D')

In [18]:
df = pd.DataFrame(np.random.randn(6,4), index=dates, columns=list('ABCD'))

In [19]:
df

                   A         B         C         D
2025-01-01 -0.538535 -1.548540 -0.947911 -2.400908
2025-01-02 -1.283202  0.557505 -0.794300  0.923642
2025-01-03 -1.110603 -0.389161 -0.138745 -0.673660
2025-01-04 -0.172470  1.185595 -0.490403 -0.997683
2025-01-05  0.417020  0.341170  1.658945 -1.161375
2025-01-06  1.134834  1.094413 -0.655602 -0.515221

In [20]:
df2 = pd.DataFrame({'A' : 1.,
                    'b' : pd.Timestamp('20250102'),
                    'C' : pd.Series(1,index=list(range(4)),dtype='float32'),
                    'D' : np.array([3] * 4,dtype='int32'),
                    'E' : pd.Categorical(["test","train","test","train"]),
                    'F' : 'foo' })

In [21]:
df2

     A          b    C  D      E    F
0  1.0 2025-01-02  1.0  3   test  foo
1  1.0 2025-01-02  1.0  3  train  foo
2  1.0 2025-01-02  1.0  3   test  foo
3  1.0 2025-01-02  1.0  3  train  foo

In [22]:
df2.dtypes

A          float64
b    datetime64[s]
C          float32
D            int32
E         category
F           object
dtype: object

In [23]:
 df.tail(3)

                   A         B         C         D
2025-01-04 -0.172470  1.185595 -0.490403 -0.997683
2025-01-05  0.417020  0.341170  1.658945 -1.161375
2025-01-06  1.134834  1.094413 -0.655602 -0.515221

In [24]:
df.tail()

                   A         B         C         D
2025-01-02 -1.283202  0.557505 -0.794300  0.923642
2025-01-03 -1.110603 -0.389161 -0.138745 -0.673660
2025-01-04 -0.172470  1.185595 -0.490403 -0.997683
2025-01-05  0.417020  0.341170  1.658945 -1.161375
2025-01-06  1.134834  1.094413 -0.655602 -0.515221

In [25]:
df.head()

                   A         B         C         D
2025-01-01 -0.538535 -1.548540 -0.947911 -2.400908
2025-01-02 -1.283202  0.557505 -0.794300  0.923642
2025-01-03 -1.110603 -0.389161 -0.138745 -0.673660
2025-01-04 -0.172470  1.185595 -0.490403 -0.997683
2025-01-05  0.417020  0.341170  1.658945 -1.161375

In [26]:
df.index

DatetimeIndex(['2025-01-01', '2025-01-02', '2025-01-03', '2025-01-04',
               '2025-01-05', '2025-01-06'],
              dtype='datetime64[ns]', freq='D')

In [27]:
df.columns

Index(['A', 'B', 'C', 'D'], dtype='object')

In [28]:
df.describe()

              A         B         C         D
count  6.000000  6.000000  6.000000  6.000000
mean  -0.258826  0.206830 -0.228003 -0.804201
std    0.922997  1.031827  0.965318  1.077077
min   -1.283202 -1.548540 -0.947911 -2.400908
25%   -0.967586 -0.206578 -0.759625 -1.120452
50%   -0.355503  0.449337 -0.573002 -0.835671
75%    0.269648  0.960186 -0.226660 -0.554830
max    1.134834  1.185595  1.658945  0.923642

In [29]:
df.T

   2025-01-01  2025-01-02  2025-01-03  2025-01-04  2025-01-05  2025-01-06
A   -0.538535   -1.283202   -1.110603   -0.172470    0.417020    1.134834
B   -1.548540    0.557505   -0.389161    1.185595    0.341170    1.094413
C   -0.947911   -0.794300   -0.138745   -0.490403    1.658945   -0.655602
D   -2.400908    0.923642   -0.673660   -0.997683   -1.161375   -0.515221

In [33]:
df.sort_index(axis=0, ascending=False)

                   A         B         C         D
2025-01-06  1.134834  1.094413 -0.655602 -0.515221
2025-01-05  0.417020  0.341170  1.658945 -1.161375
2025-01-04 -0.172470  1.185595 -0.490403 -0.997683
2025-01-03 -1.110603 -0.389161 -0.138745 -0.673660
2025-01-02 -1.283202  0.557505 -0.794300  0.923642
2025-01-01 -0.538535 -1.548540 -0.947911 -2.400908

In [34]:
df.sort_index(axis=1, ascending=False)
# sort_index(): 데이터프레임의 인덱스를 기준으로 정렬하는 메소드입니다.
# axis=1: 정렬 기준을 열로 지정합니다. 0은 행을 의미하며, 생략하면 기본값으로 행을 기준으로 정렬합니다.
# ascending=False: 내림차순 정렬을 의미합니다.

                   D         C         B         A
2025-01-01 -2.400908 -0.947911 -1.548540 -0.538535
2025-01-02  0.923642 -0.794300  0.557505 -1.283202
2025-01-03 -0.673660 -0.138745 -0.389161 -1.110603
2025-01-04 -0.997683 -0.490403  1.185595 -0.172470
2025-01-05 -1.161375  1.658945  0.341170  0.417020
2025-01-06 -0.515221 -0.655602  1.094413  1.134834

In [35]:
df.sort_values(by='B') 
# df: 정렬하려는 판다스 데이터프레임의 이름입니다.
#sort_values(): 데이터프레임의 값을 기준으로 정렬하는 메소드입니다.
#by='B': 정렬 기준을 'B' 열로 지정합니다. 즉, 'B' 열의 값을 기준으로 데이터를 정렬합니다.
#(ascending=True): 오름차순 정렬을 의미합니다. 생략하면 기본값으로 오름차순이 설정됩니다.

                   A         B         C         D
2025-01-01 -0.538535 -1.548540 -0.947911 -2.400908
2025-01-03 -1.110603 -0.389161 -0.138745 -0.673660
2025-01-05  0.417020  0.341170  1.658945 -1.161375
2025-01-02 -1.283202  0.557505 -0.794300  0.923642
2025-01-06  1.134834  1.094413 -0.655602 -0.515221
2025-01-04 -0.172470  1.185595 -0.490403 -0.997683